

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: "gotham";
    src: url('../fonts/Gotham-XLight.otf');
}

body{
	font-family: "gotham";
	text-align: justify;
}

h1{
	font-weight : 900;
	font-size: 45px;
	display: inline-block;
}

h3{
	font-weight : 900;
	font-size: 25px;
}

#btnAddContact{
	display: inline-block;
	margin-left: 15%;
	margin-bottom: 15px;

}

#contactsColumnsTitles {
	font-weight : 900;
	font-size: 17px;
}















